<%= provide(:title, @user.username) %>
<p id="notice"><%= notice %></p>

<div class="row">
  <aside class="col-md-4">
    <section class="user-info">
      <h1><%= @user.username %><h1>
      <div class="stats">
        <% unless @user.results.nil?%>
          <strong id="average" class="stat">
            <%= @user.results.average("wpm").round(1)%> average
          </strong>
          <strong id="average" class="stat">
            <%= @user.results.maximum("wpm")%> max
          </strong><br>         
        <% end %>
        <strong id="average" class="stat2">
          <%= @user.results.count%> attempts
        </strong>
      </div><br></br>
      <h3><%= link_to "Settings", edit_user_path %></h3>
      <h3><%= link_to "Logout", logout_path, method: :delete %></h3>
    </section>
  </aside>
  
  <div class="col-md-8">
    <% if @user.results.any? %>
      <h3>Results (<%= @user.results.count %>)</h3>
      <ol class="results">
        <% @results.each do |result| %>
          <li id="result-<%= result.id %>">
            <span class="wpm">WPM: <%= result.wpm %></span>
            <span class="accuracy">Accuracy: <%= result.accuracy %></span>
            <span class="timestamp"><%= result.created_at %></span>
            <% if current_user?(@user) %>
              <%= link_to "delete", result, method: :delete, data: { confirm: "Are you sure?" } %>
            <% end %>
          </li>
        <% end %>
      </ol>
    <% else %>
      <h3>No results recorded</h3>
    <% end %>
  </div>
</div>


