<%= provide(:title, @user.username) %>
<p id="notice"><%= notice %></p>

<div class="row">
  <aside class="col-md-4">
    <section class="user-info">
      <h1><%= @user.username %><h1>
      <div class="stats">
        <strong id="average" class="stat">
          <%= @user.results.average("wpm")%> average
        </strong>
        <strong id="average" class="stat">
          <%= @user.results.maximum("wpm")%> max
        </strong><br>
        <strong id="average" class="stat2">
          <%= @user.results.count%> attempts
        </strong>
      </div><br></br>
      <h3><%= link_to "Settings", edit_user_path %></h3>
      <h3><%= link_to "Logout", logout_path, method: :delete %></h3>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.results.any? %>
      <h3>Results (<%= @user.results.count %>)</h3>
      <ol class="results">
        <% @results.each do |result| %>
          <li id="result-<%= result.id %>">
            <span class="test">Attempt: <%= result.id%><span>
            <span class="wpm">WPM: <%= result.wpm %></span>
            <span class="accuracy">Accuracy: <%= result.accuracy %></span>
            <span class="timestamp"><%= result.created_at %></span>
          </li>
        <% end %>
      </ol>
    <% end %>
  </div>
</div>


