<li id="result-<%= result.id %>">
  <span class="user"><%= link_to result.user.username, result.user %></span>
  <span class="wpm"><%= result.wpm %></span>
  <span class="accuracy"><%= result.accuracy %></span>
  <span class="timestamp"><%= result.created_at %></span>
</li>